table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

th:nth-child(1) {
    width: 150px;
}

tr:nth-child(even){
    /*background-color: #99CCFF;*/
background-color: #808080;
}

th {
    height: 40px;
    width: auto;
    background-color: #FF9933;
    color: white;
}

tr:hover {
    background-color: #66ffff;
}

td {
    height: 25px;
    vertical-align: bottom;
}